LuaPackagePath "/var/www/sailor_framework/src/?.lua"
<FilesMatch "\.lua$">
AddHandler lua-script .lua
</FilesMatch>

DirectoryIndex index.lua

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^.]+)\/?$ index.lua?r=$1 [L]

#RewriteRule ^([^/]+)/([^/]+)/([^./]*)/?$ index.lua?r=$1/$2&q=$3 [L]
#RewriteRule ^([^/]+)/([^./]+)/?$ index.lua?r=$1/$2 [L]
